{% extends 'layout/base_admin.html' %}

{% block content %}
    <!-- Navigation Bar -->
    <div>
        <h1>CHỈNH SỬA</h1>
        <div>
            <h4>Độ tuổi:</h4>
            <input id="minAge" placeholder="Min age"/>
            <input id="maxAge" placeholder="Max age"/>
            <button type="button" id="updateAge">Thay đổi</button>
        </div>
        <div>
            <h4>Sỉ số lớp tối đa:</h4>
            <input id="classSize" placeholder="Class size"/>
            <button type="button" id="updateClassSize">Thay đổi</button>
        </div>
        
        
    </div>

    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>

{% endblock %}
