{% extends 'layout/base_index.html' %}

{% block content %}
<form id="studentForm" method="POST" action="/submit">
  <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th colspan="2" style="text-align: center;">HỒ SƠ HỌC SINH</th> 
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Họ tên:
                        <input type="text" name="ho_ten" placeholder="Your name" style="border: none; outline: none; background-color: transparent;" />
                      </td>
                      <td>Giới tính:
                        <input type="text" name="gioi_tinh" placeholder="Nam" style="border: none; outline: none; background-color: transparent;" />
                      </td>
                  </tr>
                  <tr>
                      <td>Ngày Sinh:
                        <input type="text" name="ngay_sinh" placeholder="YYYY-MM-DD" 
                          style="border: none; outline: none; background-color: transparent;" 
                        />                     
                      </td>
                      <td>Địa chỉ:
                        <input type="text" name="dia_chi" placeholder="Your address" style="border: none; outline: none; background-color: transparent;" />
                      </td>
                  </tr>
                  <tr>
                      <td>Số điện thoại:
                        <input type="text" name="so_dien_thoai" placeholder="XXXXXXXXXX" style="border: none; outline: none; background-color: transparent;" />
                      </td>
                      <td>Email:
                        <input type="text" name="email" placeholder="example@gmail.com" style="border: none; outline: none; background-color: transparent;" />
                      </td>
                  </tr>
              </tbody>
          </table>
          <button type="submit">Thêm sinh viên</button>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>  
      
{% endblock %}
