{% extends 'layout/base_point.html' %}

{% block content %}
    <form id="studentForm" method="GET" action="{{ url_for('submit') }}">
      <div class="table-responsive">
        <table class="table table-bordered"  id="studentClass" style="width: 100%;">
            <thead>
                <!-- Hàng đầu tiên với một ô chiếm toàn bộ chiều rộng -->
                <tr>
                    <th colspan="5" style="text-align: center; width: 100%;">Bảng điểm môn học</th>
                </tr>
                <!-- Hàng thứ hai với hai ô chia 50% mỗi ô -->
                <tr>
                    <td colspan="3" style="width: 50%;">Lớp:
                        <input type="text" name="ten-lop" placeholder="......" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                    </td>
                    <td colspan="2" style="width: 50%;">Môn:
                        <input type="text" name="ten-mh" placeholder="......" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width: 50%;">Học Kỳ:
                        <input type="text" name="hoc-ky" placeholder="......" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                    </td>
                    <td colspan="2" style="width: 50%;">Năm học:
                        <input type="text" name="nam-hoc" placeholder="YYYY-YYYY+1" style="border: none; outline: none; background-color: transparent; width: 80%;" />
                    </td>
                </tr>
            </thead>
            <tbody id="studentTableBody">
                <!-- Hàng nội dung với các cột chi tiết -->
                <tr style="text-align: center;">
                    <td style="width: 5%;">STT</td>
                    <td style="width: 30%;">Họ tên</td>
                    <td style="width: 15%;">Điểm 15 phút</td>
                    <td style="width: 20%;">Điểm 1 tiết</td>
                    <td style="width: 30%;">Điểm thi</td>
                </tr>
              <!-- Các học sinh sẽ được thêm vào đây sau khi lấy dữ liệu -->

            </tbody  >
        </table>
        <button type="button" id="fetchDataBtn">Lấy danh sách học sinh</button>
        <button type="button" id="saveScoresBtn">Lưu điểm</button>
        <button type="button" id="fetchAvgScoresBtn">Lấy bảng điểm trung bình</button>
    </div>
    </form>

    <!-- Thẻ div để chứa bảng điểm sau khi lưu -->
    <div id="avgScoresContainer"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>


    
{% endblock %}
