{% extends 'layout/base_statistics.html' %}

{% block content %}
    <!-- Navigation Bar -->
    

    <form method="POST" id="reportForm">
        <div class="table-responsive">
            <table class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th colspan="5" style="text-align: center; width: 100%;">BÁO CÁO TỔNG KẾT MÔN HỌC</th>
                    </tr>
                    <tr>
                        <td colspan="3" style="width: 50%;">Môn:
                            <input type="text" id="mon" name="mon" placeholder="Toán" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                        </td>
                        <td colspan="2" style="width: 50%;">Học kỳ:
                            <input type="text" id="hocKy" name="hoc_ky" placeholder="1" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width: 50%;">Năm học:
                            <input type="text" id="namHoc" name="nam_hoc" placeholder="YYYY-YYYY+1" style="border: none; outline: none; background-color: transparent; width: 80%;" />
                        </td>
                        <td colspan="2" style="width: 50%;">
                            <input type="text" style="border: none; outline: none; background-color: transparent; width: 90%;" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <td style="width: 5%;">STT</td>
                        <td style="width: 30%;">Lớp</td>
                        <td style="width: 15%;">Sĩ số</td>
                        <td style="width: 20%;">Số lượng đạt</td>
                        <td style="width: 30%;">Tỷ lệ</td>
                    </tr>
                    
                    
                </tbody>
                <nav id="searchNav" class="navbar navbar-light" style="display:none;">
                    <div class="container">
                        <div id="searchResults" class="navbar-nav">
                            <!-- Kết quả tìm kiếm sẽ được hiển thị ở đây -->
                        </div>
                    </div>
                </nav>
            </table>
            
            <button type="submit" id="showTable">Xuất bảng</button>
            <button type="button" id="showChart" style="display: none;">Biểu đồ</button>
            <div style="width: 80%; margin: auto; padding: 20px;">
                <canvas id="summaryChart"></canvas>
            </div>
            
        </div>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endblock %}
