<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Add Student</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/class">Class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/point">Point</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/statistics">Statistics</a>
      </li>
    </ul>
      
  </div>
</nav>

